.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.page__current {
  padding: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
  background-color: white;
  color: #112d49;
  font-weight: bold;
}
