.actionContainer {
  margin: 5px;
  display: flex;
}

.watchIcon,
.editIcon,
.deleteIcon,
.deleteTagIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.watchIcon:hover,
.editIcon:hover,
.deleteIcon:hover,
.deleteTagIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.watchIcon:hover {
  color: yellow;
}

.editIcon:hover {
  color: green;
}

.deleteIcon:hover,
.deleteTagIcon:hover {
  color: red;
}
