.App {
  /*text-align: center;*/
  margin-bottom: 70px;
  margin-top: 70px;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /*width: 100%;*/
  margin: 20px;
}

td,
th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

/*Watch item modal*/

.modal-sheet .modal-dialog {
  /*width: 380px;*/
  transition: bottom 0.75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

/*Sign-in form*/

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.badge > a {
  color: inherit;
}
