.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #383838;
  position: fixed;
  top: 0;
}

.navbar__links {
  margin-left: auto;
  padding: 10px;
}

.navbar__btn {
  padding: 5px;
}

.links {
  color: white;
  text-decoration: none;
  margin: 15px 15px;
}

footer {
  height: 25px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  background: #383838;
}
